absl-py==0.9.0
apturl==0.5.2
asgiref==3.2.7
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
attrs==19.2.0
backcall==0.1.0
bleach==3.1.0
Brlapi==0.6.6
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
command-not-found==0.3
coremltools==3.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
devscripts===2.17.12ubuntu1.1
distro-info===0.18ubuntu0.18.04.1
Django==3.0.6
dlib==19.19.0
dominate==2.4.0
easydict==1.9
entrypoints==0.3
Flask==1.1.2
gast==0.2.2
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpg==1.10.0
grpcio==1.28.1
h5py==2.10.0
horovod==0.18.1
httplib2==0.9.2
idna==2.9
image==1.5.31
imageio==2.6.1
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.11.2
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
kazam==1.4.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
llvmlite==0.32.1
louis==3.5.0
macaroonbakery==1.1.3
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
mtcnn==0.1.0
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.4
networkx==2.3
notebook==6.0.1
notify2==0.3
numba==0.49.1
numpy==1.18.4
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.2.1
pickleshare==0.7.5
Pillow==7.1.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
psutil==5.6.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.4.2
pygobject==3.26.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.2
pyRFC3339==1.0
pyrsistent==0.15.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.6.1
python-debian==0.1.32
python-magic==0.4.16
pytz==2018.3
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==5.3.1
pyzmq==18.1.0
qtconsole==4.5.5
reportlab==3.4.0
requests==2.23.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
resampy==0.2.1
rsa==4.0
scapy==2.4.3
scikit-image==0.15.0
scipy==1.4.1
scour==0.36
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.13.2
six==1.14.0
sqlparse==0.3.1
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tb-nightly==1.14.0a20190603
tensorboard==2.0.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.0.1
tensorflow-estimator==2.0.1
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019060501
torch==1.4.0
torchfile==0.1.0
torchvision==0.5.0
tornado==6.0.3
traitlets==4.3.3
turicreate==6.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unidiff==0.5.4
urllib3==1.25.9
virtualenv==16.7.5
visdom==0.1.8.9
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wpm==1.51.5
wrapt==1.12.1
xkit==0.0.0
zipp==0.6.0
zope.interface==4.3.2
